<form action="/enviado" method="POST">
    <input type="text" name="name" placeholder="nome">
    <input type="text" name="titulo" placeholder="titulo">
    <textarea name="conteudo" placeholder="conteudo"></textarea>
    <button type="submit">Cadastrar</button>
</form>

<div>
    <h2>LISTA DE POSTS</h2>
{{#each posts}} 
    <small>{{createdAt}}</small>
    <h1>{{titulo}}</h1>
    <p>{{conteudo}}</p>
    <a href="/delete/{{id}}"><button>Apagar</button></a>
    <hr>

{{/each}}

</div>